<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="shortcut icon" href="/favicon.ico"/>
		<link rel="stylesheet" href="/styles/style.css" />
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
	</head>
	<body>
		<!-- Header -->
			<header>
				<nav class="menu">
					<div class="search"><p>{{ if user }}</p></div>
					<ul>
						<li><a href="index.html">Home</a></li>

						{% if user %}
							<li><a href="/create_post.html">Create post</a></li>
							<li><a href="/profile.html?user={{ user.name }}">Profile</a></li>
						{% endif %}{% else %}
							<li><a href="/registration.html">Register</a></li>
							<li><a href="/login.html">Log in</a></li>
						{% endelse %}

					</ul>
				</nav>
			</header>

		<!-- Create post block -->
			<div class="container">
			<div class="form-style-5">
				<form action="/publish" method="post" enctype="multipart/form-data">
					<fieldset>
						<legend><span class="number">1</span> Title</legend>
						<input type="text" name="title" placeholder="Title *">
					</fieldset>
					<fieldset>
						<legend><span class="number">2</span>Tags</legend>
						<input type="text" name="tags" placeholder="Tags *">
					</fieldset>
					<fieldset>
						<legend><span class="number">3</span>Description </legend>
						<textarea name="text" placeholder="Text" rows="10"></textarea>
						<input type="file" name="attachment"/>
					</fieldset>
					<input type="submit" value="Submit" />
				</form>
			</div>
			</div>
	</body>
	<footer class="footer">
		<h3>Blog (c)</H3>
		<p>	Bishkek 2017, tel.+996312345678</p>
	</footer>
</html>