<div class="container" name='top'>
<div class="posts">
	{% for publication in publications %}

	<div class="index_post">
		<div class="title">
			<div class="username"><a href="/profile.html?user={{ publication.author }}">{{ publication.author }}</a></div>
			<h3><a href="/publication.html?post={{ publication._id }}" target="_blank">
				{{ publication.title }}
				</a>
			</h3>
		</div>
		<center>
			<a href="/publication.html?post={{ publication._id }}">
				{% if publication.attachments %}
				<img src="{{ publication.get_first_attachment }}" alt="" style="width: 750px;">
				{% endif  %}
			</a>
		</center>
		<ul>
		<li><a href="#">Edit post</a></li>
		</ul>
	</div>

	{% endfor %}
</div>
</div>